
<div class="navbar">

</div>


<div class="top-1">
  <div class="top1-main">
    <div class="name-text">
      <p>Szita Bence<span>.</span></p>
    </div>
      <div class="titlename red-ribbon fade-right">
        <div class="titletext title-right"> Front-end developer</div>
      </div>
  </div>
  <img src="../../assets/images/portrait4.png" alt="">
 
</div>

<div class="top-2">

  <div class="top2-main">

    <div class="titlename red-ribbon fade-left">
        <div class="titletext title-left"> Experiences</div>
    </div>
    <div class="xp-text">
      <h1> 2019 Sept-2020 May - System Egineer,  Robert Bosch Kft</h1>
      <h2> Budapest, Hungary</h2>
      <h2> Software development for vehicle motion control system.
        Technical planning, software impletementation, backlog refinement, stakeholder allignement</h2>

      <h1> 2019 Jul -2019 Aug - Test Team Coordinator,  Robert Bosch Kft</h1>
      <h2> Budapest, Hungary</h2>
      <h2> Team coordination. Reporting of testing status for costumer and
        platform project. Knowledge transfer of software verification
        activities to India</h2>

      <h1> 2019 Feb-2019 - System Test Engineer, Robert Bosch Kft</h1>
      <h2> Abstatt, Germany</h2>
      <h2> Development of system tests and test automation methods for
        vehicle motion control software. Establish connection between German and Hungarian
        development teams. Participate in project planning activities.
        </h2>

      <h1> 2019 Feb-2019 - System Test Engineer, Robert Bosch Kft</h1>
      <h2> Budapest, Hungary</h2>
      <h2> Development of system tests and test automation methods for
        vehicle motion control software. Buildup center of competence in
        Budapest. Measurement evaluation and reporting: Matlab,
        Simulink, Git, ALM, Microsoft Office, Doors
      </h2>


    </div>
    

  </div>
 
</div>


<div class="top-3">

  <div class="top3-main">

    <div class="titlename red-ribbon fade-right">
        <div class="titletext title-right"> Experiences</div>
    </div>
    <div class="xp-text">
      <h1> 2019 Sept-2020 May - System Egineer,  Robert Bosch Kft</h1>
      <h2> Budapest, Hungary</h2>
      <h2> Software development for vehicle motion control system.
        Technical planning, software impletementation, backlog refinement, stakeholder allignement</h2>

      <h1> 2019 Jul -2019 Aug - Test Team Coordinator,  Robert Bosch Kft</h1>
      <h2> Budapest, Hungary</h2>
      <h2> Team coordination. Reporting of testing status for costumer and
        platform project. Knowledge transfer of software verification
        activities to India</h2>

      <h1> 2019 Feb-2019 - System Test Engineer, Robert Bosch Kft</h1>
      <h2> Abstatt, Germany</h2>
      <h2> Development of system tests and test automation methods for
        vehicle motion control software. Establish connection between German and Hungarian
        development teams. Participate in project planning activities.
        </h2>

      <h1> 2019 Feb-2019 - System Test Engineer, Robert Bosch Kft</h1>
      <h2> Budapest, Hungary</h2>
      <h2> Development of system tests and test automation methods for
        vehicle motion control software. Buildup center of competence in
        Budapest. Measurement evaluation and reporting: Matlab,
        Simulink, Git, ALM, Microsoft Office, Doors
      </h2>


    </div>
    

  </div>
 
</div>







