<div class="nav-top">
  <div class="nav-button"> <a href="">Experience</a> </div>
  <div class="nav-button"><a href="">Projects</a></div>
  <div class="nav-button"><a href="">Links</a></div>
  <div class="nav-button"><a href="">Contacts</a></div>
</div>




<!-- 
<div class="nav-main">

  <div class="icon-wrapper">

    <a href="https://www.linkedin.com/in/bence-szita/" class="icon-button logo">
      <fa-icon class="fa-icon" [icon]="faLinkedinIn"></fa-icon>
    </a>
    <a href="https://github.com/Ben-sz/wallThing"  class="icon-button logo">
      <fa-icon class="fa-icon" [icon]="faGithub"></fa-icon>
    </a>

  </div>
</div> -->