<div class="top-1">
  <div class="top1-main">

    <img src="../../assets/images/portrait7.png" alt="">
    <div class="name-text">
      <h1>Bence Szita.<span></span></h1>
      <h3>Front-end developer<span></span></h3>
    </div>
   
  </div>

</div>


<div class="block-main block-margin" id="experience">
    <div class="block-container">
      <div class="block-child xp-bg">
        <div class="block-title purplecolor"> <h1>Experience</h1></div>
      </div>
      <div class="block-child purplebg xp-box">
        <div class="xp-text">
          <h1> 2019 Sept-2020 May - System Egineer,  Robert Bosch Kft</h1>
          <h2> Budapest, Hungary</h2>
          <h2> Software development for vehicle motion control system.
            Technical planning, software impletementation, backlog refinement, stakeholder allignement</h2>
    
          <h1> 2019 Jul -2019 Aug - Test Team Coordinator,  Robert Bosch Kft</h1>
          <h2> Budapest, Hungary</h2>
          <h2> Team coordination. Reporting of testing status for costumer and
            platform project. Knowledge transfer of software verification
            activities to India</h2>
    
          <h1> 2019 Feb-2019 - System Test Engineer, Robert Bosch Kft</h1>
          <h2> Abstatt, Germany</h2>
          <h2> Development of system tests and test automation methods for
            vehicle motion control software. Establish connection between German and Hungarian
            development teams. Participate in project planning activities.
            </h2>
    
          <h1> 2019 Feb-2019 - System Test Engineer, Robert Bosch Kft</h1>
          <h2> Budapest, Hungary</h2>
          <h2> Development of system tests and test automation methods for
            vehicle motion control software. Buildup center of competence in
            Budapest. Measurement evaluation and reporting: Matlab,
            Simulink, Git, ALM, Microsoft Office, Doors
          </h2>

        </div>
      </div>

    </div>
</div>

<div class="block-main block-margin" id="projects">
  <div class="block-container">

   
    <div class="block-child peachbg xp-box">
      <div class="projects">

        <div class="pr-logo">

          <a href="https://ben-sz.github.io/wallThing/">
            <img src="../../assets/images//wt.svg" alt="">
          </a>
        
        </div>
    
        <div class="pr-logo">
          <a href="https://ben-sz.github.io/wallThing/">
          <img src="../../assets/images//getgrovy.svg" alt="">
          </a>

        </div>
      </div>
    </div>


    <div class="block-child projects-bg">
      <div class="block-title peachcolor">   <h1>Projects</h1></div>
    </div>
  </div>
</div>


<div class="block-main block-margin" id="contacts">
  <div class="block-container">

    <div class="block-child contacts-bg">
      <div class="block-title mintcolor">   <h1>Contacts</h1></div>
    </div>
   
    <div class="block-child mintbg xp-box">
      <div class="projects">

        <div class="pr-logo">

          
          <img src="../../assets/images//wt.svg" alt="">
        </div>
    
        <div class="pr-logo">
          <img src="../../assets/images//getgrovy.svg" alt="">
        </div>
      </div>
    </div>


    
  </div>
</div>


