$color-black: #515151;
$color-purple: #AFACF2;
$color-peach: #F9B1AA;
$color-mint: #AAF0D1;




body{

  font-family: "Open Sans"
}

.top-1{
  display: flex;

  align-items: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10rem;
  .top1-main{
    
    display: flex;
    justify-content: center;

    /* width: 60vw; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
  }
 
  img{
    /* height: 20rem; */
    width: 15rem;
    margin-left: 10px;
  }
}

.name-text{
  text-align: left;
  display: flex;
  flex-direction: column;
  color: $color-black;
  align-items: flex-end; 
  justify-content: center;
  margin-right: 10px;

  h1 {
    color: black;
    font-weight: 800;
    font-size: 118px;
    line-height: 80px;

    letter-spacing: -0.055em;
    margin: 0;
   
  }
  h3{
    font-weight: 100;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.085em;
    margin: 0;
  }
}

.fade-right{
  margin-left: -20px;
  transition: all 0.3s ease;

  &:hover{
    margin-left: 0px;}
}


.fade-left{
  margin-left: 20px;
  transition: all 0.3s ease;

  &:hover{
  margin-left: 0px;
  }
}

.block-margin{
  margin-bottom: 10rem;
}

.block-main{
  display: inline-block;
  width: 100%;
  box-sizing: border-box;

}


.block-container {
  display: flex;
}


.block-child {
  flex: 1;
  max-width: 100%;
}  


.block-title{
  text-align: center;
  margin-top: 100px;
  padding-bottom: 50px;
  h1{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 6rem;
    line-height: 0%;
    letter-spacing: -0.075em;
    transition: all 0.3s ease;
    &:hover{
   /*  margin-left: -10px; */
    }
  }
}

.xp-bg{
  background-image: url('../../assets/images/Experience.svg');
  background-repeat: no-repeat;
  background-position: 50% 10%;
}

.projects-bg{
  background-image: url('../../assets/images/projects.svg');
  background-repeat: no-repeat;
  background-position: 50% 10%;
}

.contacts-bg{
  background-image: url('../../assets/images/contacts.svg');
  background-repeat: no-repeat;
  background-position: 50% 10%;
}

.links-bg{
  background-image: url('../../assets/images/links.svg');
  background-repeat: no-repeat;
  background-position: 50% 10%;
}

.xp-box{
  border-radius: 31px;
}


.xp-text{
  margin-left: 2rem;
  margin-right: 2rem;
  h1{
    color:  white;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    transition: all 0.3s ease;
    margin-top: 70px;
    &:hover{
   /*  margin-left: -10px; */
    }
    
      
  }
    h2{
      color:  white;
      font-size: 28px;
      line-height: 28px;
      font-weight: 100;
      margin-top: 5px;
      margin-bottom: 20px;
  
      transition: all 0.3s ease;
  
      &:hover{
      /*   margin-left: -10px; */
      }
    }
}


.contacts-text{
  margin-left: 2rem;
margin-right: 2rem;
text-align: center;
  h1{
    color:  white;
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
    
    }
 
}

.links-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: center;
  color:  white;
  margin: 2rem 1rem;

    h1{

      font-size: 48px;
      font-weight: normal;
      line-height: 48px;
      
      transition: all 0.3s ease-in-out;
      &:hover{
        transform: scale(1.2);
  
      } 

      }

}

.purplebg{
  background-color: $color-purple;
}

.peachbg{
  background-color:  $color-peach;
}

.mintbg{
  background-color:  $color-mint;
}

.purplecolor{
  color: $color-purple;
}

.peachcolor{
  color:  $color-peach;
}

.mintcolor{
  color:  $color-mint;
}


.titletext{
  text-align: center;
  position: relative;
  bottom: 70px;
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  
}


.pr-logo{
  margin-top: 10rem;
  

    transition: all 0.3s ease-in-out;
    width: 450px;
    max-width: 70%;
    
    &:hover{
      transform: scale(1.1);

    }  

    img{
      max-width: 100%;
      border: 5px solid white;
    }
}


.projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  padding-bottom: 5rem;

  /* align-items: center;
  align-content: center; */


}





@media (max-width: 950px) {
  
  .right-flextext{
    flex-direction: column-reverse;
    padding: 0 20px;
  }

  .left-flextext{
    flex-direction: column;
    padding: 0 20px;
  }


  .name-text{
    text-align: left;

    display: flex;
    flex-direction: column;

    align-items: flex-start; 
    justify-content: center;
  
    h1 {
      color: black;
      font-weight: 800;
      font-size: 90px;
      line-height: 80px;
  
      letter-spacing: -0.055em;
      margin: 0;
      margin-top: -15px;
     
    }
    h3{
      font-weight: 100;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.085em;
      margin: 0;
    }
  }



}
