<div class="top-1">
  <div class="top1-main">
    <div class="name-text">
      <h1>Szita Bence<span></span></h1>
      <h3>Front-end developer<span></span></h3>
    </div>
      <!-- <div class="titlename red-ribbon fade-right">
        <div class="titletext title-right"> Front-end developer</div>
      </div> -->
  </div>
  <img src="../../assets/images/portrait-5.png" alt="">
</div>


<div class="block-1">
  
  <div class="block-left purplebg">
    <div class="titletext purplecolor">Experience</div>


    <div class="xp-text">
      <h1> 2019 Sept-2020 May - System Egineer,  Robert Bosch Kft</h1>
      <h2> Budapest, Hungary</h2>
      <h2> Software development for vehicle motion control system.
        Technical planning, software impletementation, backlog refinement, stakeholder allignement</h2>

      <h1> 2019 Jul -2019 Aug - Test Team Coordinator,  Robert Bosch Kft</h1>
      <h2> Budapest, Hungary</h2>
      <h2> Team coordination. Reporting of testing status for costumer and
        platform project. Knowledge transfer of software verification
        activities to India</h2>

      <h1> 2019 Feb-2019 - System Test Engineer, Robert Bosch Kft</h1>
      <h2> Abstatt, Germany</h2>
      <h2> Development of system tests and test automation methods for
        vehicle motion control software. Establish connection between German and Hungarian
        development teams. Participate in project planning activities.
        </h2>

      <h1> 2019 Feb-2019 - System Test Engineer, Robert Bosch Kft</h1>
      <h2> Budapest, Hungary</h2>
      <h2> Development of system tests and test automation methods for
        vehicle motion control software. Buildup center of competence in
        Budapest. Measurement evaluation and reporting: Matlab,
        Simulink, Git, ALM, Microsoft Office, Doors
      </h2>


    </div>
  </div>
</div>

<div class="block-1">
  <div class="block-right peachbg">
    <div class="titletext peachcolor">Projects</div>

    <div class="pr-logo">
      <img src="../../assets/images//wt.svg" alt="">
    </div>

    <div class="pr-logo">
      <img src="../../assets/images//getgrovy.svg" alt="">
    </div>
  </div>

</div>


<div class="block-1">
  <div class="block-left mintbg">
<!--     <div class="titletext mintcolor">Experience</div>
 -->  </div>
</div>

  <!--   <div class="xp-text">
      <h1> 2019 Sept-2020 May - System Egineer,  Robert Bosch Kft</h1>
      <h2> Budapest, Hungary</h2>
      <h2> Software development for vehicle motion control system.
        Technical planning, software impletementation, backlog refinement, stakeholder allignement</h2>

      <h1> 2019 Jul -2019 Aug - Test Team Coordinator,  Robert Bosch Kft</h1>
      <h2> Budapest, Hungary</h2>
      <h2> Team coordination. Reporting of testing status for costumer and
        platform project. Knowledge transfer of software verification
        activities to India</h2>

      <h1> 2019 Feb-2019 - System Test Engineer, Robert Bosch Kft</h1>
      <h2> Abstatt, Germany</h2>
      <h2> Development of system tests and test automation methods for
        vehicle motion control software. Establish connection between German and Hungarian
        development teams. Participate in project planning activities.
        </h2>

      <h1> 2019 Feb-2019 - System Test Engineer, Robert Bosch Kft</h1>
      <h2> Budapest, Hungary</h2>
      <h2> Development of system tests and test automation methods for
        vehicle motion control software. Buildup center of competence in
        Budapest. Measurement evaluation and reporting: Matlab,
        Simulink, Git, ALM, Microsoft Office, Doors
      </h2>
    </div>
    
 -->