$color-black: #515151;
$color-purple: #AFACF2;
$color-peach: #F9B1AA;
$color-mint: #AAF0D1;




body{

  font-family: "Open Sans"
}

.top-1{
  display: flex;

  align-items: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10rem;
  .top1-main{
    
    display: flex;
    justify-content: center;

    /* width: 60vw; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
  }
 
  img{
    /* height: 20rem; */
    width: 15rem;
  }
}

.name-text{
  text-align: left;
  display: flex;
  flex-direction: column;
  color: $color-black;
  align-items: flex-end; 
  justify-content: center;

  h1 {
    color: black;
    font-weight: 800;
    font-size: 118px;
    line-height: 80px;

    letter-spacing: -0.055em;
    margin: 0;
   
  }
  h3{
    font-weight: 100;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.085em;
    margin: 0;
  }
}

.fade-right{
  margin-left: -20px;
  transition: all 0.3s ease;

  &:hover{
    margin-left: 0px;}
}


.fade-left{
  margin-left: 20px;
  transition: all 0.3s ease;

  &:hover{
  margin-left: 0px;
  }
}

.block-margin{
  margin-bottom: 10rem;
}

.block-main{
  display: inline-block;
  width: 100%;
  box-sizing: border-box;

}


.block-container {
  display: flex;
}

.block-child {
  flex: 1;
  max-width: 100%;
}  


.block-title{
  text-align: center;
  margin-top: 100px;
  h1{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 0%;
    transition: all 0.3s ease;
    &:hover{
   /*  margin-left: -10px; */
    }
  }
}

.xp-bg{
  background-image: url('../../assets/images/Experience.svg');
  background-repeat: no-repeat;
  background-position: 50% 10%;
}

.projects-bg{
  background-image: url('../../assets/images/projects.svg');
  background-repeat: no-repeat;
  background-position: 50% 10%;
}

.contacts-bg{
  background-image: url('../../assets/images/contacts.svg');
  background-repeat: no-repeat;
  background-position: 50% 10%;
}


.xp-box{
  border-radius: 31px;
}


.xp-text{
  margin-left: 2rem;
  margin-right: 2rem;
  h1{
    color:  white;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    transition: all 0.3s ease;
    margin-top: 70px;
    &:hover{
   /*  margin-left: -10px; */
    }
    
      
  }
    h2{
      color:  white;
      font-size: 28px;
      line-height: 28px;
      font-weight: 100;
      margin-top: 5px;
      margin-bottom: 20px;
  
      transition: all 0.3s ease;
  
      &:hover{
      /*   margin-left: -10px; */
      }
    }
  
}
.purplebg{
  background-color: $color-purple;
}

.peachbg{
  background-color:  $color-peach;
}

.mintbg{
  background-color:  $color-mint;
}

.purplecolor{
  color: $color-purple;
}

.peachcolor{
  color:  $color-peach;
}

.mintcolor{
  color:  $color-mint;
}


.titletext{
  text-align: center;
  position: relative;
  bottom: 70px;
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  
}


.pr-logo{
  margin-top: 10rem;
  padding-bottom: 5rem;

  img{
    transition: all 0.3s ease-in-out;
    &:hover{
      transform: scale(1.2);

    }  
  }
}


.projects{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

